<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".ShortcutHubApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShortcutHub">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShortcutHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".InvokeShortcutHubActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.ShortcutHub.Transparent">
            <intent-filter>
                <action android:name="com.fabiantorrestech.androidshortcuthub.action.TOGGLE_OVERLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PickTileFontActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.ShortcutHub.Transparent" />

        <activity
            android:name=".PickTileIconActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.ShortcutHub.Transparent" />

        <activity
            android:name=".BindWidgetActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.ShortcutHub" />

        <activity
            android:name=".GrayscalePermissionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.ShortcutHub.Transparent" />

        <activity
            android:name=".KeyguardUnlockTrampolineActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:showWhenLocked="true"
            android:taskAffinity="com.fabiantorrestech.androidshortcuthub.unlock"
            android:theme="@style/Theme.ShortcutHub.UnlockTrampoline"
            android:turnScreenOn="true" />

        <activity
            android:name=".LockscreenOverlayActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@style/Theme.ShortcutHub.Transparent"
            android:turnScreenOn="true" />

        <receiver
            android:name=".InvokeShortcutHubReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fabiantorrestech.androidshortcuthub.action.TOGGLE_OVERLAY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ShortcutHubOverlayService"
            android:exported="false" />

        <service
            android:name=".GrayscaleCaptureForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".ShortcutHubAccessibilityService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>
